/* Reset and base styles  */
* {
    box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  --moz-appearance: textfield;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active, 
textarea:active, textarea:focus,
select:focus {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}
/* End Reset and base styles */

:root {
    --light-gray: rgb(232, 231, 231);
    --bg-color: #5F8671;
    --nero: #292627;
    --light-yellow: #CDA460;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--bg-color);
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 0 15px;
}

.hidden {
    display: none;
}

.player_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

.albom_img {
    width: 250px;
    height: 250px;
    border-radius: 8px;
}

.audio_info_container {
    display: flex;
    flex-direction: column;
}

.audio_name {
    font-size: 20px;
    font-weight: 500;
    color: var(--light-gray);
}

.audio_author {
    font-size: 16px;
    font-weight: 400;
    color: var(--light-gray);
}

.player_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 60px 0 20px 0;
}

.player_nav > img {
    width: 50px;
    height: 40px;
    cursor: pointer;
    transition: .2s ease;
}

.play-pause_wrapper {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: .2s ease;
}

.player_nav > img:active, .play-pause_wrapper:active {
    transform: scale(0.92);
}

.player_options {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    max-width: 600px;
}
  
.player__current-time {
    font-weight: 300;
    font-size: 14px;
    color: var(--light-gray);
}
  
.progress__bar {
    appearance: none;
    width: 100%;
    height: 4px;
    background-color: var(--light-gray);
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.progress__bar:hover {
    height: 6px;
}
  
.progress__bar::-webkit-slider-thumb {
    appearance: none;
    width: 17px;
    height: 17px;
    background: var(--light-yellow);
    border-radius: 50%;
    cursor: pointer;
}
  
.progress__bar::-moz-range-thumb {
    appearance: none;
    width: 17px;
    height: 17px;
    background: var(--light-yellow);
    border-radius: 50%;
    cursor: pointer;
}
  
.player__total-time {
    font-weight: 300;
    font-size: 14px;
    color: var(--light-gray);
}

.player_nav_keys_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    width: 70%;
}

.player_nav_keys_container > img,
.random_icon_container, .repeat_icon_container,
.volume_icons_container {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.volume_icons_container {
    position: relative;
}

.volume_control_container {
    display: none;
    align-items: center;
    position: absolute;
    gap: 10px;
    top: 30px;
    left: -60px;
    padding: 4px 8px;
    border-radius: 10px;
    background-color: var(--nero);
}

.volume_input {
    width: 120px;
    height: 8px;
    padding: 0 5px;
    outline: none;
    border: none;
    cursor: pointer;
    accent-color: #FFFFFF;
}

.volume_control_container > span {
    font-size: 16px;
    color: #FFFFFF;
}

.playlist_active {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    padding: 20px;
    background-color: rgb(0, 0, 0, .8);
    transform: translateY(0);
    transition: .2s ease;
}

.playlist {
    transition: .2s ease;
    transform: translateY(100%);
}

.playlist_table {
    width: 100%;
    height: 100%;
}

.playlist_header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 40px;
}

.playlist_header > img {
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 80px 120px;
}

.playlist_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.song_title {
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
}

.playlist_item__icon_wrapper {
    width: 40px;
    height: 40px;
    cursor: pointer;
    overflow: hidden;
}

@media screen and (max-width: 650px) {
    .playlist_header {
        margin-right: 0;
    }

    .list {
        padding: 60px 10px;
    }

    .song_title {
        font-size: 16px;
    }
    
    .playlist_item__icon_wrapper {
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width: 400px) {
    .song_title {
        font-size: 14px;
    }
    
    .playlist_item__icon_wrapper {
        width: 25px;
        height: 25px;
    }
}