/* Reset and base styles  */
* {
    box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  --moz-appearance: textfield;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active, 
textarea:active, textarea:focus,
select:focus {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
/* End Reset and base styles */

:root {
    --main-color: #0079FF;
    --gray-50: #F6F8FF;
    --gray-100: #697C9A;
    --gray-300: #2B3442;
    --gray-400: #1E2A47;
    --gray-500: #141D2F;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--gray-500);
    min-height: 100vh;
    color: var(--gray-50);
}

.hidden {
    display: none;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;

    display: flex;
    flex-direction: column;
    gap: 14px;
}

.player {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 6px 15px;
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;
    background-color: var(--gray-400);
}

.player-nav_icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.player-nav__play-pause__container {
    overflow: hidden;
    width: 40px;
    height: 40px;
}

.player-nav__play-pause__container > img {
    width: 40px;
    transition: .2s ease;
    cursor: pointer;
}

.player-nav_icons > img {
    width: 20px;
    transition: .2s ease;
    cursor: pointer;
}

.player-nav_icons img:active {
    transform: scale(0.9);
}

.player-song__container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.player-song__image {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    overflow: hidden;
}

.player-song__info {
    display: flex;
    flex-direction: column;
    min-width: 380px;
}

.player-song__info__up {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2px;
    position: relative;
}

.player-song__info__up-text {
    font-size: 12px;
    color: var(--gray-50);
}

.player-song__time-zone {
    display: flex;
    align-items: center;
    gap: 8px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.player-song__progress_bar {
    appearance: none;
    width: 100%;
    height: 3px;
    background-color: var(--gray-100);
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.player-song__progress_bar::-webkit-slider-thumb {
    appearance: none;
    width: 10px;
    height: 10px;
    background: var(--main-color);
    border-radius: 50%;
    cursor: pointer;
}
  
.player-song__progress_bar::-moz-range-thumb {
    appearance: none;
    width: 10px;
    height: 10px;
    background: var(--main-color);
    border-radius: 50%;
    cursor: pointer;
}

.player-volume__container {
    width: 80px;
    position: relative;
}

.player-song__volume_value {
    display: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 25px;
    position: absolute;
    left: 0;
    bottom: 14px;
    border-radius: 8px;
    background-color: var(--gray-300);
}

#volume-value {
    font-size: 10px;
    color: var(--gray-50);
}

.player-volume {
    appearance: none;
    width: 100%;
    height: 3px;
    background-color: var(--gray-100);
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.player-volume::-webkit-slider-thumb {
    appearance: none;
    width: 6px;
    height: 6px;
    background: var(--gray-50);
    border-radius: 50%;
    cursor: pointer;
}
  
.player-volume::-moz-range-thumb {
    appearance: none;
    width: 6px;
    height: 6px;
    background: var(--gray-50);
    border-radius: 50%;
    cursor: pointer;
}

.player-nav__random img, .player-nav__repeat img {
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: .2s ease;
}

.playlist {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
    margin-bottom: 10px;
    padding: 6px 0;
    border-radius: 10px;
    background-color: var(--gray-400);
}

.playlist-audio__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 2px 15px;
    border-radius: 10px;
}

.playlist-audio__container:hover {
    transition: .2s ease;
    background-color: var(--gray-100);
}

.playlist-audio__name-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.playlist-audio__song_title {
    font-size: 14px;
    color: var(--gray-50);
}

#waveform {
    padding: 4px;
    width: 100%;
    height: 80px;
    border-radius: 10px;
    background-color: var(--gray-400);
}

@media screen and (max-width: 800px) {
    .player-volume__container {
        display: none;
    }

    .player-song__info {
        min-width: 280px;
    }
}

@media screen and (max-width: 500px) {
    .player-song__info {
        margin-top: 20px;
        min-width: 260px;
    }

    .player {
        position: relative;
        padding: 10px 8px;
    }

    .player-song__image {
        width: 60px;
        height: 60px;
    }

    .player-song__container {
        display: flex;
        align-items: flex-end;
        gap: 8px;
    }

    .player-nav_icons > img {
        width: 30px;
    }

    .icons {
        position: absolute;
        top: 12px;
        right: 20px;
        gap: 20px;
    }

    .player-nav__random img, .player-nav__repeat img {
        width: 30px;
        height: 30px;
    }

    .player-song__info__up-text {
        font-size: 14px;
    }

    .playlist-audio__container {
        padding: 2px 8px;
    }
}

